.container {
    display: grid;
    grid-template-rows: repeat(2, 64px);
    row-gap: 12px;
    background-color: var(--bg-secondary);

    @media screen and (min-width: 480px) {
        height: 128px;
        gap: 12px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 64px;
    }
}