.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 0;
    height: 100%;
    max-width: 450px;
    padding: 0 24px;
    border-radius: 6px;
    gap: 20px;
    background-color: var(--bg-primary);
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}

input {
    flex: 1 0 0;
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: var(--text-color);
}