.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    height: 420px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    @media screen and (min-width: 768px) {
        flex: 1 0 40%;
    }

    @media screen and (min-width: 992px) {
        flex: 1 0 25%;
    }

    @media screen and (min-width: 1200px) {
        flex: 1 0 20%;
    }

    @media screen and (min-width: 1921px) {
        flex: 1 0 15%;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 14px 25px;
}

img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-name {
    margin: 10px 0;
    font-weight: 900;
}

span {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

.detail {
    margin-bottom: 6px;
}