.container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: var(--bg-primary);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 14px 25px;
}

img {
    height: 180px;
    width: 100%;
}

.card-name {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}

span {
    font-weight: 600;
}