.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 15px;
    
    @media screen and (min-width: 768px) {
        gap: 40px 15px;
    }
    
    @media screen and (min-width: 992px) {
        gap: 40px 20px;
    }
    
    @media screen and (min-width: 1200px) {
        gap: 40px;
    }
    
    @media screen and (min-width: 1921px) {
        gap: 40px 50px;
    }
}