.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}

.country {
    display: flex;
    flex-direction: column;
    gap: 36px;
    flex: 1;

    @media screen and (min-width: 768px) {
        gap: 46px;
        flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
        gap: 80px;
    }

    @media screen and (min-width: 1400px) {
        gap: 120px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: 44px;
    height: 100%;

    h1 {
        font-weight: 800;
        font-size: 46px;
    }
}

.icon {
    height: 18px;
    background-color: red;
    
    svg {
        fill-rule: red;
    }
}

.flag {
    height: 350px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
        height: 500px;
    }
}
.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.linkBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    background-color: var(--bg-primary);
    width: 60px;
    padding: 14px 24px;
    border-radius: 4px;

    &:hover {
        transition: all 0.3s;
        background-color: var(--bg-primary-hover);
    }
}

.bordersContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.borders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    padding: 14px;
    background-color: var(--bg-primary);
    border-radius: 4px;
}

.label {
    display: inline-block;
}