@import "../../global.css";

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    padding: 10px 12px;
    background-color: var(--bg-primary);
    border-radius: 5px;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: var(--bg-secondary);
        color: white;
    }
}