@import "../../global.css";

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 12px;
    gap: 12px;
    background-color: var(--bg-primary);
    border-radius: 5px;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: var(--bg-secondary);
        color: white;
    }
    
    img {
        width: 24px;
        height: 24px;
    }

    div {
        display: none;
        font-weight: 700;
        font-size: 14px;
        
        @media screen and (min-width: 480px) {
            display: inherit;
        }
    }
}
