@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    /*Dark mode elements*/
    --blue-900: hsl(209, 23%, 22%);
    /*Dark mode background*/
    --blue-950: hsl(207, 26%, 17%);
    /*Light mode text*/
    --grey-950: hsl(200, 15%, 8%);
    /*Light mode input*/
    --grey-400: hsl(0, 0%, 50%);
    /*Light mode background*/
    --grey-50: hsl(0, 0%, 99%);
    /*Dark mode text & Light mode elements*/
    --white: hsl(0, 100%, 100%);
    
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

html,body,#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.theme-dark {
    --bg-primary: var(--blue-900);
    --bg-secondary: var(--blue-950);
    --text-color: var(--white);
}

.theme-light {
    --bg-primary: var(--white);
    --bg-secondary: var(--grey-50);
    --text-color: var(--grey-950);
}

h1, h2, h3, h4, h5, h6, div, p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

