.container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    gap: 30px;
    flex: 1 0 0;
    
    @media screen and (min-width: 480px) {
        padding: 30px 24px 0 24px;
    }

    @media screen and (min-width: 768px) {
        padding: 30px 30px 0 30px;
    }

    @media screen and (min-width: 992px) {
        padding: 30px 60px 0 60px;
    }

    @media screen and (min-width: 1200px) {
        padding: 30px 120px 0 120px;
    }

    @media screen and (min-width: 1921px) {
        padding: 30px 200px 0 200px;
    }
}
